doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/css/bootstrap.css')
		block css
	body
		block content
		script(type='text/javascript', src='/js/jquery-3.2.0.js')
		script(type='text/javascript', src='/js/bootstrap.js')
